<div class="principal bg-dark">
  <div class="title">Add Feeling</div>
</div>

<div class="register bg-dark">
    <div class="row">
    <div class="contenedor col-6">
        
        <form [formGroup]="form" (submit)="addPost()" >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" formControlName="title" class="form-control" id="title"  name="title" required>
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" formControlName="content" id="content" name="content" rows="4" required></textarea>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username"  name="username">
          </div>
          <div class="mb-3">
            <label for="contact" class="form-label">Do you want to enter an email to contact you?</label>
            <input type="text" formControlName="contact" class="form-control" id="contact"  name="contact">
          </div>
          <button type="submit" class="btn btn-primary btn-up ">Up</button>
        </form>
      </div>
      <div class="imagen col-6 my-auto ">
        <img src="../../../assets/images/mejorar-salud-mental.png" alt="" width="100%" class="rounded">
      </div>
    </div>      
</div>
